  /* Player Image */
  .player-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
    vertical-align: middle;
  }
  
  /* Player Name */
  .player-name {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Flags */
  .flag {
    width: 30px;
    height: auto;
  }
  
  /* Club Logo */
  .club-logo {
    width: 30px;
    height: auto;
  }
  
  /* Position Button */
  .position {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: inline-block;
  }
  
  /* Stat Value Styling */
  .stat-value {
    display: block;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
  }
  
  /* Transparent Button Background to Match Page */
  .transparent-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .transparent-button:hover {
    background-color: #444;
    border-radius: 5px;
  }
  
  /* Ensuring Proper Alignment */
  .player-name img {
    margin-right: 10px;
  }