.dropdown-content {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .card-player-image {
    width: 120px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
  }